---
const introduction = "Hi! I'm Rohan ";
const title = 'I am a Full-Stack Web Developer';
const description =
  "Currently I'm working as a Front-End Developer and also building different personal projects that push the boundaries of my skillset and expand my understanding of web development.";
---

<section
  id="home"
  class="screen flex flex-col gap-10 pt-32 pb-20 sm:gap-8 md:gap-6 lg:h-screen lg:flex-row lg:items-center lg:gap-0 lg:p-0"
>
  <div class="flex flex-col gap-3 lg:w-[515px] lg:flex-shrink-0 xl:w-[615px]">
    <span class="home__reveal text-lg font-medium xl:text-xl"
      >{introduction}<span
        class="inline-block origin-[70%_70%] animate-[wave_1.8s_infinite] text-2xl"
        >👋</span
      ></span
    >
    <h1 class="home__reveal text-3xl font-bold xl:text-4xl">
      {title}
    </h1>
    <p class="home__reveal mt-4 mb-6 lg:mb-10 xl:text-lg">
      {description}
    </p>
    <div class="flex flex-col gap-4 self-start xs:flex-row xs:gap-7">
      <a
        href="#projects"
        class="home__reveal btn-primary text-center xl:text-lg">View Projects</a
      >
      <a
        href="/resume.pdf"
        class="home__reveal btn-primary text-center xl:text-lg"
        target="_blank">Resume</a
      >
    </div>
  </div>
  <div
    id="developer-lottie"
    class="w-full self-center xs:w-[400px] sm:w-[450px] md:w-[500px] lg:mb-6 lg:w-auto lg:max-w-[729px]"
  >
  </div>
</section>

<style>
  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(-10deg);
    }
    20% {
      transform: rotate(12deg);
    }
    30% {
      transform: rotate(-10deg);
    }
    40% {
      transform: rotate(9deg);
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
</style>

<script>
  import lottie from 'lottie-web';
  import animationData from '../../lotties/developer.json';

  const container = document.getElementById('developer-lottie')!;

  lottie.loadAnimation({
    container,
    animationData,
    autoplay: true,
    loop: true,
    renderer: 'svg',
  });
</script>
