---
import { Icon } from 'astro-icon';
import SectionLayout from '../../layouts/SectionLayout.astro';
import skills from '../../data/skills';
---

<SectionLayout
  id="skills"
  heading="Skills"
  text="These are the technologies I've worked with"
>
  {
    skills.map(({ title, list }) => (
      <div class="mt-8">
        <h2 class="mb-4 text-lg font-bold">{title}</h2>
        <ul class="ml-4 grid gap-y-4 gap-x-8 sm:gap-x-12">
          {list.map(({ icon, language }) => (
            <li class="flex w-14 flex-col items-center gap-2 sm:w-16">
              <div class="flex h-14 w-full items-center justify-center rounded-full bg-gray-100 sm:h-16">
                <Icon name={icon} class="h-7 w-7 sm:h-8 sm:w-8" />
              </div>
              <span class="text-center text-sm sm:text-base">{language}</span>
            </li>
          ))}
        </ul>
      </div>
    ))
  }
</SectionLayout>

<style>
  ul {
    grid-template-columns: repeat(auto-fill, 4rem);
  }
</style>
