---
import '../style/global.css';
import Layout from '../layouts/Layout.astro';
import SkillsSection from '../components/sections/SkillsSection.astro';
import HomeSection from '../components/sections/HomeSection.astro';
import ProjectsSection from '../components/sections/ProjectsSection.astro';
import ContactSection from '../components/sections/ContactSection.astro';
---

<Layout>
  <main
    class="mx-auto min-h-screen w-full max-w-[1600px] px-5 xs:px-7 sm:px-10 md:px-32 lg:px-48 xl:px-44"
  >
    <HomeSection />
    <SkillsSection />
    <ProjectsSection />
    <ContactSection />
  </main>
</Layout>
