---
import '../style/global.css';
import Layout from '../layouts/Layout.astro';
import SkillsSection from '../components/sections/SkillsSection.astro';
import HomeSection from '../components/sections/HomeSection.astro';
import ProjectsSection from '../components/sections/ProjectsSection.astro';
import ContactSection from '../components/sections/ContactSection.astro';
---

<Layout>
  <main
    class="mx-auto w-full max-w-[1600px] px-5 xs:px-7 sm:px-10 md:px-24 xl:px-32"
  >
    <HomeSection />
    <SkillsSection />
    <ProjectsSection />
    <ContactSection />
    <footer
      class="m-4 flex flex-col items-center justify-center gap-4 sm:flex-row sm:gap-8"
    >
      <div id="astronaut-bye-lottie" class="w-[110px]"></div>
      <div class="flex flex-col items-center gap-1 text-center">
        <h3 class="text-[15px]">Built with Astro, TypeScript & Tailwind</h3>
        <span class="text-sm">By Rohan Shrestha</span>
      </div>
    </footer>
  </main>
</Layout>

<script>
  import lottie from 'lottie-web';
  import animationData from '../lotties/astronaut-bye.json';

  const container = document.getElementById('astronaut-bye-lottie')!;

  lottie.loadAnimation({
    container,
    animationData,
    renderer: 'svg',
    loop: true,
    autoplay: true,
  });
</script>
