@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply border border-gray-100 px-4 py-2;
  }

  .input {
    @apply rounded bg-dark-secondary px-6 py-4 shadow-b outline-none;
  }
}

/* To Prevent flickering i.e to hide the elements before the animation code executes */
html.sr #logo,
html.sr #nav li,
html.sr #header__resume-btn,
html.sr #hamburger-btn,
html.sr body > aside,
html.sr .screen {
  visibility: hidden;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: #495670;
  border: 3px solid #2f3140;
  border-radius: 5rem;
}

.no-scroll {
  overflow: hidden;
  padding-right: 12px;
}
