---
import Nav from './Nav.astro';
---

<header class="px-12 py-7 flex items-center fixed top-0 w-screen">
  <span class="flex-1"><a href="/">Rohan Shrestha</a></span>
  <Nav />
  <span class="flex-1 text-right">
    <button class="border px-4 py-2">RESUME</button>
  </span>
</header>
