---
import SocialLinks from './SocialLinks.astro';
import { nav } from '../data/site.json';
---

<nav
  class="invisible absolute top-0 right-0 z-40 flex h-screen w-[75vw] translate-x-full items-center justify-center bg-dark-secondary opacity-0 shadow-l transition-all duration-500 sm:w-[60vw] md:visible md:static md:z-auto md:h-auto md:w-auto md:flex-1 md:transform-none md:bg-transparent md:opacity-100 md:shadow-none md:transition-none"
  id="nav"
>
  <ul class="flex flex-col gap-9 md:flex-row md:gap-10">
    {
      nav.map(({ link, name }) => (
        <li class="cursor-pointer text-center">
          <a href={link} class="nav__link py-1 uppercase hover:border-b">
            {name}
          </a>
        </li>
      ))
    }
    <li class="mb-5 text-center md:hidden">
      <a href="/resume.pdf" target="_blank" class="btn-primary">RESUME</a>
    </li>
    <li class="md:hidden"><SocialLinks /></li>
  </ul>
</nav>

<style>
  .active {
    border-bottom: 1px solid theme('colors.gray.100');
  }

  .visible {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }
</style>

<script>
  import '../scripts/nav';
</script>
