---
const navLinks = ['#home', '#skills', '#projects', /* '#about', */ '#contact'];
---

<ul class="flex flex-col gap-4">
  {
    navLinks.map(link => (
      <li>
        <a href={link} class="circle__link group relative">
          <span class="invisible absolute right-[200%] scale-0 text-xs uppercase transition-all group-hover:visible group-hover:scale-100">
            {link.slice(1)}
          </span>
          <div
            class={`h-3.5 w-3.5 cursor-pointer rounded-full border transition-transform group-hover:scale-125`}
          />
        </a>
      </li>
    ))
  }
</ul>

<style>
  .circle__link .active {
    background-color: theme('textColor.gray.100');
  }
</style>
