---
import SideLayout from './SideLayout.astro';
import Header from '../components/Header.astro';
import SideNav from '../components/SideNav.astro';
import SocialLinks from '../components/SocialLinks.astro';

export interface Props {
  siteTitle?: string;
  description?: string;
}

const {
  siteTitle = 'Rohan Shrestha',
  description = 'The personal site of Rohan Shrestha...',
} = Astro.props as Props;
---

<html lang="en" class="dark scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" property="og:description" content={description} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montez&family=Montserrat:wght@400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <title>{siteTitle}</title>
  </head>
  <body class="bg-primary text-gray-100">
    <Header />
    <SideLayout classes="gap-6 left-5 lg:left-10"><SocialLinks /></SideLayout>
    <SideLayout classes="gap-4 right-5 lg:right-10"><SideNav /></SideLayout>
    <slot />
  </body>
</html>
